<h1>Welcome <%= current_user.name %>!</h1>

<h2> Admin Report </h2>

<table>

  <tr>
    <th>User</th>
    <th>Posts</th>
    <th>Post Votes Received</th>
    <th>Comments</th>
    <th>Comment Votes Received</th>
  </tr>
  <% @users.each do |u| %>
  <tr>
    <td><%= u.name %></td>
    <td><%= Post.find_all_by_username(u.name).count %></td>
    <td><%= post_votes(u.name) %></td>
    <td><%= Comment.find_all_by_username(u.name).count %></td>
    <td><%= comment_votes(u.name) %></td>
  </tr>
 <% end %>
</table>

