<%= form_tag('users/search', :method => 'get', :id => search) do %>
    <%= label_tag(:search, "Search for:") %>
    <%= text_field_tag(:search,  params[:search]) %>
    <%= submit_tag("Find it!") %>
<% end %>

<table>
  <tr>
    <th>Users</th>
  </tr>
  <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
      </tr>
  <% end %>
</table>
