<p id="notice"><%= notice %></p>

<h1>Search Results</h1>

<p>
  <b>Results:</b>
<table>
  <% if @found_users.empty? & @found_categories.empty? & @found_posts.empty? & @found_comments.empty? %>
      <span>There were no results for your query.</span><br/><br/>
  <% else %>
        <b>Users</b>
      <ul>
        <% @found_users.each do |user| %>
            <li><%= user.name %></li>
        <% end %>
      </ul>  <br/>

      <b>Categories</b>
      <ul>
            <% @found_categories.each do |category| %>
                <li><%= category.name %></li>
        <% end %>
      </ul>  <br/>

      <b>Posts</b>
      <ul>
        <% @found_posts.each do |post| %>
            <li><%= post.content %> <%= link_to 'View full Post', post %></li>
        <% end %>
      </ul>    <br/>

      <b>Comments</b>
      <ul>
        <% @found_comments.each do |comment| %>
            <li><%= comment.body %> <%= link_to 'View full Post', Post.find(comment.post_id) %></li>
        <% end %>
      </ul>

  <% end %>
    </table>
</p>






