
  <div><b><%= comment.username %></b> says: <%= comment.body %> (<%= comment.votes %> votes)
    [
    <% if logged_in? && ((comment.username == current_user.name) || current_user.admin) %>
         <%= link_to "Edit", edit_comment_path(comment) %> |
        <%= link_to "Delete", comment, method: :delete, data: { confirm: 'Are you sure?' } %> |
    <% end %>
    <%= link_to "Vote", :controller => :comments, :action => :vote, :id => comment.id %> ]
  </div>
  <%#= link_to 'Destroy Comment', comment,
              :confirm => 'Are you sure?',
              :method => :delete %>