<h1>Listing posts [<%= link_to 'New', new_post_path, :id => current_user %>]</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Category</th>
    <th>Votes</th>
    <th>Last Modified</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.username %></td>
    <td><%= post.category.name %></td>
    <td><%= post.votes %></td>
    <td><%= post.updated_at %></td>

    <td class="no_border"><%= link_to 'Show', post %></td>
    <!-- TODO Admin check -->
    <% if logged_in? && post.username == current_user.name %>
    <td class="no_border"><%= link_to 'Edit', edit_post_path(post) %></td>
    <td class="no_border"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>
