<p id="notice"><%= notice %></p>

<p>
  <b>ID:</b>
  <%= @post.id %>
</p>

<p>
  <b>Username:</b>
  <%= @post.username %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<p>
  <b>Category:</b>
  <%= @post.category %>
</p>

<p>
  <b>Votes:</b>
  <%= @post.votes %>
</p>
          <!-- TODO PASS post id -->
<%# link_to 'New Comment', new_comment_path, :post => @post.id %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<table>
  <tr>
    <td colspan="4"><h2>Comments for this post</h2></td>
  </tr>

  <tr>
    <th>Username</th>
    <th>Post ID</th>
    <th>Body</th>
    <th>Votes</th>
  </tr>
  <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.username %></td>
        <td><%= comment.postid %></td>
        <td><%= comment.body %></td>
        <td><%= comment.votes %></td>
       </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Comment', new_comment_path %>
