<p id="notice"><%= notice %></p>

<p>
  <b>ID:</b>
  <%= @post.id %>
</p>

<p>
  <b>Username:</b>
  <%= @post.username %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<p>
  <b>Category:</b>
  <%= @post.category.name %>
</p>

<p>
  <b>Votes:</b>
  <%= @post.votes %>
</p>

<%#= link_to "New comment", new_comment_path(:post_id => @post.id) %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<%= render :partial => 'comment', :collection => @post.comments %>
<hr>
<b>Post a Comment</b>
<%= form_for(@comment) do |f| %>
    <%= f.hidden_field :username %><br/>
    <% if @comment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

          <ul>
            <% @comment.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.text_area :body, :rows => 5 %>
    </div>

    <div class="actions">
      <%= f.submit "Post Comment" %>
    </div>
<% end %>

