<!DOCTYPE html>
<html>
<head>
  <title>CSC 517 Program 1 - Back Channel App</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="navcontainer">
      <ul id="navlist">
        <li><%= link_to 'Home', home_url %></li>
        <% if !session[:user_id] %>
            <li><%= link_to 'Log In', login_url %></li>
            <li><%= link_to 'Sign Up', :controller => "users", :action => "new" %></li>
      <% end %>
        <li><%= link_to 'Posts', posts_show_path %></li>
        <% if session[:user_id] %>
            <li><%= link_to 'Users', users_url %></li>
            <li><%= link_to 'Log Out', logout_path, :method => :delete %></li>
        <% end %>
      </ul>
    </div>

    <div id="search">
      <%= render :partial => 'users/search' %>
    </div>

  <div id="main">
    <%= yield %>
  </div>


</body>
</html>
